<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Add New Property</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
<include href="./php/nav.php"/>
<div class="container">
    <h3>Add a New Property</h3>
    <form id="property-form" action="#" method="post">
        <div class="form-group form-check" id="type">
            <label for="type">Type of Property</label><br>
            <label for="house"><input type="radio" id="house" name="type" value="house" required="required">
                House</label>
            <label for="condo"><input type="radio" id="condo" name="type" value="condo">
                Condo</label>
            <label for="apartment"><input type="radio" id="apartment" name="type" value="apartment">
                Apartment</label>
            <span id="typeErr" class="err">{{ @errors['type'] }}</span>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group form-check hidden" id="rentDiv">
                    <label for="rentDiv">Is this house for rent or purchase?</label><br>
                    <label for="rent"><input type="radio" id="rent" name="rentbuy" value="rent">Rental</label>
                    <label for="buy"><input type="radio" id="buy" name="rentbuy" value="buy">Purchase</label>
                </div>
                <div class="form-group hidden" id="floorDiv">
                    <label for="floor">Floor Level</label>
                    <input type="number" class="form-control" min="1"
                           id="floor" name="floor">
                    <span class="err">{{ @errors['floor'] }}</span>
                </div>
                <div class="form-group">
                    <label for="sqFoot">Square Footage</label>
                    <input type="number" class="form-control" required="required"
                           id="sqFoot" name="sqFoot" min="250" max="100000" value="{{ @property['sqFoot'] }}">
                    <span class="err">{{ @errors['sqFoot'] }}</span>
                </div>
                <div class="form-group">
                    <label for="bathCount">Number of Bathrooms</label>
                    <input type="number" class="form-control" min="1" max="10" step="0.5" required="required"
                           id="bathCount" name="bathCount" value="{{ @property['bathCount'] }}">
                    <span class="err">{{ @errors['bathCount'] }}</span>
                </div>
                <div class="form-group">
                    <label for="bedCount">Number of Bedrooms</label>
                    <input type="number" class="form-control" min="1" max="10" required="required"
                           id="bedCount" name="bedCount" value="{{ @property['bedCount'] }}">
                    <span class="err">{{ @errors['bedCount'] }}</span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="number" class="form-control" min="500" max="50000000"
                           required="required" id="price" name="price">
                    <span class="err">{{ @errors['price'] }}</span>
                </div>
                <div class="form-group">
                    <label for="yearBuilt">Year Built</label>
                    <input type="number" class="form-control"
                           min="1600" max="2020" id="yearBuilt" name="yearBuilt">
                    <span class="err">{{ @errors['yearBuilt'] }}</span>
                </div>
                <div class="form-group">
                    <label for="location">Zip Code</label>
                    <input type="text" class="form-control" required="required"
                           id="location" name="location">
                    <span class="err">{{ @errors['location'] }}</span>
                </div>
                <div class="form-group">
                    <label for="description">Description</label><br>
                    <textarea id="description" name="description" cols="60" rows="5"></textarea>
                    <span class="err">{{ @errors['description'] }}</span>
                </div>
            </div>
        </div>

        <div class="text-center">
            <button id="submit" type="submit" class="btn btn-primary">
                Add Property
            </button>
        </div>
    </form>
</div>

<script src="/305/bootstrap-tutorial/js/jquery.slim.min.js"></script>
<script src="/305/bootstrap-tutorial/js/popper.min.js"></script>
<script src="/305/bootstrap-tutorial/js/bootstrap.min.js"></script>
<script src="scripts/new-property.js"></script>

</body>
</html>