<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thank you!</title>
</head>
<body>

<div class="container mt-5">
    <div class="row pt-5">
        <div class="card card-cascade col-sm-6 offset-sm-3 px-0">
            <p class="h2">Thank you for registering with Property Search!</p>

            <div class="row">
                <div class="col-sm-4">
                    <a href="/328/propertySearch">Home</a>
                </div>

                <div class="col-sm-4 offset-sm-2">
                    <a href="welcome">View homes</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>